# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
3.10venv/
try5venv

# IDE/editor configs
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Dependency files (optional)
Pipfile.lock
poetry.lock

# Models and Checkpoints
models/
checkpoints/

# Datasets
Semantic segmentation dataset/
